/* Mobile-first */
footer {
    width: 100%;
    height: 30vh;
    padding: 3rem;
    flex-wrap: wrap;
    background-color: #4A4A4A;

    .footerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .footerLogo {
            width: 10rem;
            margin-bottom: 3rem;
            opacity: 60%;
        }

        .footerContact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2rem;

            .footerContactInfo {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 1.5rem;
                    color: #fff;
                    font-family: "Just Another Hand", sans-serif;
                }
            }
        }
    }
}


/* Desktop */
@media (min-width: 768px) {
    footer {
        .footerContent {
            .footerLogo {
                width: 13rem;
            }
    
            .footerContact {
                .footerContactInfo {
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}